#if DEBUG
private let SERVER_ADDRESS = "127.0.0.1:8050"

let API_URL = "http://\(SERVER_ADDRESS)/api"
let WS_URL = "ws://\(SERVER_ADDRESS)/api"
#else
private let SERVER_ADDRESS = "mavinote.org"

let API_URL = "http://\(SERVER_ADDRESS)/api"
let WS_URL = "ws://\(SERVER_ADDRESS)/api"
#endif
