#if DEBUG
private let SERVER_ADDRESS = "192.168.1.34:8050"

let API_URL = "http://\(SERVER_ADDRESS)/api"
let NOTIFY_URL = "ws://\(SERVER_ADDRESS)/api/notify/connect"
#else
private let SERVER_ADDRESS = "ec2-18-134-209-122.eu-west-2.compute.amazonaws.com"

let API_URL = "http://\(SERVER_ADDRESS)/api"
let NOTIFY_URL = "ws://\(SERVER_ADDRESS)/api/notify/connect"
#endif
